html {
    line-height: 2;
    -webkit-text-size-adjust: 100%;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    letter-spacing: 0.2rem;
    height: 100%;
}

body {
    height: 100vh;
    margin: 0px !important;
    background: rgb(0, 0, 0);
    width: 100vw;
}

.main {
    min-height: 100%;
    background: rgb(25 129 151);
    background: linear-gradient(rgb(102 102 102) 0%, rgb(131 74 139) 48%, rgb(25 129 151) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: clamp(1.5vw,25px,4vh);
    color: aliceblue;
}

.helloText {
    -webkit-animation: showAnim 3s ease-in-out 0s infinite normal forwards;
    animation: showAnim 3s ease-in-out 0s infinite normal forwards;
    text-align: center;
    font-size: 4vh;
    color: whitesmoke;
    align-self: center;
    flex: 2;
}

.bio {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio img {
    border-radius: 40%;
    max-height: 20vh;
}

.bio > p {
    width: clamp(70%, 200px, 90%);
    font-size: .8em;
}

@media only screen and (max-height: 667px) {
    .bio > p {
        font-size: .6em
    }
  }

.footer {
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex: 2;
}

a,
a:visited {
    color: whitesmoke;
}

@-webkit-keyframes showAnim {
    0% {
        color: aliceblue
    }

    10% {
        color: tomato
    }

    /*  15% {
        color: aqua
    } */

    20% {
        color: yellow
    }

    /*  25% {
        color: blue
    } */

    30% {
        color: brown
    }

    /*  35% {
        color: chartreuse
    } */

    40% {
        color: cornflowerblue
    }

    /* 45% {
        color: coral
    } */

    50% {
        color: rgb(212, 192, 166)
    }

    70% {
        color: blueviolet
    }

    80% {
        color: black
    }

    100% {
        opacity: 100%;
        position: relative;
    }
}

@keyframes showAnim {
    0% {
        color: aliceblue
    }

    10% {
        color: tomato
    }

    /*  15% {
        color: aqua
    } */

    20% {
        color: yellow
    }

    /*   25% {
        color: blue
    } */

    30% {
        color: brown
    }

    /*   35% {
        color: chartreuse
    } */

    40% {
        color: cornflowerblue
    }

    /*    45% {
        color: coral
    } */

    50% {
        color: antiquewhite
    }

    70% {
        color: chocolate
    }

    80% {
        color: yellowgreen
    }

    100% {
        opacity: 100%;
        position: relative;
    }
}
